# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDEs and Editors

## Eclipse
.project
.classpath
.csettings/
.settings/
.metadata/
bin/
tmp/

## IntelliJ IDEA
.idea/
*.iml
*.iws
out/

## NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# Maven
target/

# Gradle
.gradle/
build/

# Others
*.swp
*.swo
